<!DOCTYPE html>
<html>

<head>
    <style>
        li {
            cursor: pointer;
        }

        .tag-wrap {
            background: #ccc;
            padding: 1px 5px;
            font-size: 12px;
            border-radius: 3px;
            margin-right: 8px;
        }
        .close{
            color: blue;
            cursor: pointer;
            padding: 1px 2px 4px 5px;
        }
        .add{
            color: blue;
            cursor: pointer;
            padding: 2px;
        }
        .content {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div id="app">
        <div>IP:
            <input v-model="ip" />
        </div>
        <div>Port:
            <input v-model="port" />
        </div>
        <div>
            IOS/Android:
            <label><input v-model="sys" type="radio" value="ios" />IOS</label>
            <label><input v-model="sys" type="radio" value="android" />Android</label>
        </div>
        <div>ModuleName:
            <input v-model="name" value="rn_car_zt" />
            <tag-t type="tags-name" name="name" :update-v="setV" :get-v="getV"></tag-t>
        </div>
        <div>initialPage:
            <input v-model="initial" value="Home" />
            <tag-t type="tags-initial" name="initial" :update-v="setV" :get-v="getV"></tag-t>
        </div>
        <div style="color:#aaa; font-size: 12px">
            <div>
                记住现在的值:
                <input type="checkbox" v-model="isRecord" />
            </div>
            <div>{{text}}</div>
        </div>

        <div><button id="create" @click="createQrcode">生成二维码</button></div>
        <div id="qrcode" class="qrcode"></div>
    </div>

    <!-- <script src="./jquery.min.js"></script> -->
    <script src="./vue.min.js"></script>
    <script src="./qrcode.min.js"></script>
    <script>
        Vue.component('tag-t', {
            props: ['type', 'update-v', 'name', 'get-v'],
            data: function () {
                return {
                    list: [],
                    count: 0,
                    isAdding: false,
                    content: ''
                }
            },
            mounted() {
                this.list = this.getList()
            },
            methods: {
                getList: function() {
                    var list = (localStorage.getItem(this.type) || '').split(',');
                    return list;
                },
                remove: function (item) {
                    var list = this.getList();
                    if(list.length) {
                        list.splice(list.indexOf(item), 1);
                        localStorage.setItem(this.type, list);
                        this.list = list;
                    }
                },
                preAdd: function() {
                    this.isAdding = true;
                },
                add: function () {
                    
                    var list = this.getList();
                    list.push(this.content);
                    localStorage.setItem(this.type, list);
                    this.list = list;
                    this.isAdding = false;
                    this.content = '';
                },
                setV: function(v) {
                    var list = this.getList();
                    var originV = this.getV(this.name);
                    if(list.includes(originV)){
                        this.updateV(this.name, v);
                    }else{
                        list.push(originV);
                        localStorage.setItem(this.type, list);
                        this.list = list;
                    }
                }
            },
            template: `<span>
                <span v-for="item in list">
                    <span v-if="item !== ''" class="tag-wrap">
                        <span class="content" @click="setV(item)">{{item}}</span> <span class="close" @click="remove(item)">x</span>
                    </span>
                </span>
                <span v-if="isAdding === false" class="preAdd" @click="preAdd">+</span>
                <span v-if="isAdding === true" class="preAdd" >
                    <input v-model="content" /> <button @click="add">确定</button>
                </span>
            </span>`
        });

        var app = new Vue({
            el: '#app',
            data: {
                ip: '192.168.2.24',
                port: '5389',
                name: 'rn_car_zt',
                initial: 'Home',
                isRecord: true,
                sys: 'android',
            },
            computed: {
                text: function () {
                    return 'http://' + this.ip + ':' + this.port + '/index.' + this.sys + '.bundle?CRNModuleName=' + this.name + '&CRNType=1&initialPage=' + this.initial;
                }
            },
            mounted() {
                this.fillWithRecord();
            },
            methods: {
                getV: function(name) {
                    return this[name];
                },
                createQrcode: function (e) {
                    document.getElementById('qrcode').innerHTML = '';
                    qrcode = new QRCode(document.getElementById('qrcode'), this.text);
                    if (this.isRecord) {
                        this.record();
                    }
                },
                setV: function(name, v) {
                    this[name] = v;
                },
                fillWithRecord: function () {
                    var ip = localStorage.getItem('ip');
                    if (ip) {
                        this.ip = ip;
                    }
                    var port = localStorage.getItem('port');
                    if (port) {
                        this.port = port;
                    }
                    var sys = localStorage.getItem('sys');
                    if (sys) {
                        this.sys = sys;
                    }
                    var name = localStorage.getItem('name');
                    if (name) {
                        this.name = name;
                    }
                    var initial = localStorage.getItem('initial');
                    if (initial) {
                        this.initial = initial;
                    }

                },
                record: function () {
                    localStorage.setItem('ip', this.ip);
                    localStorage.setItem('port', this.port);
                    localStorage.setItem('sys', this.sys);
                    localStorage.setItem('name', this.name);
                    localStorage.setItem('initial', this.initial);
                }
            }
        });
        app.createQrcode();
    </script>
    <!-- <script>
        var qrcode;
        function initValue() {
            var ip = localStorage.getItem('ip');
            if (ip) {
                $('#ip').val(ip);
            }
            var port = localStorage.getItem('port');
            if (port) {
                $('#port').val(port);
            }
            var name = localStorage.getItem('name');
            if (name) {
                $('#name').val(name);
            }
            var initial = localStorage.getItem('initial');
            if (initial) {
                $('#initial').val(initial);
            }
            var ip = localStorage.getItem('ip');
            if (ip) {
                $('#ip').val(ip);
            }
            var sys = localStorage.getItem('sys');
            if (sys) {
                $('input:radio[name="sys"]').filter('[value=' + sys + ']').prop('checked', true);
            }

        }
        initValue();
        $('#history li').click(function (e, b) {
            var text = $(this).text();
            $('#qrcode').html('');
            qrcode = new QRCode(document.getElementById('qrcode'), text);
        });
        $('#create').click(function (e) {
            var ip = $('#ip').val();
            var port = $('#port').val();
            var name = $('#name').val();
            var sys = $('input[name=sys]:checked').val();
            var initial = $('#initial').val();

            var text = 'http://' + ip + ':' + port + '/index.' + sys + '.bundle?CRNModuleName=' + name + '&CRNType=1&initialPage=' + initial;
            $('#text').html(text);
            $('#qrcode').html('');
            qrcode = new QRCode(document.getElementById('qrcode'), text);

            // 如果有记录,就记录
            var isRecord = $('#record').prop('checked');
            if (isRecord) {
                record();
            }
        });
        $('#create').click();

        // 记录值
        function record() {
            localStorage.setItem('ip', $('#ip').val());
            localStorage.setItem('port', $('#port').val());
            localStorage.setItem('sys', $('input[name=sys]:checked').val());
            localStorage.setItem('name', $('#name').val());
            localStorage.setItem('initial', $('#initial').val());
        }

        function tag(name) {
            var tags = localStorage.getItem(tag);
            tags.map(function (item) {

            });
        }

    </script> -->
</body>

</html>