<!DOCTYPE html>
<html>
<meta charset="utf-8" />

<head>
    <style>
        li {
            cursor: pointer;
        }

        #app {
            font-size: 13px;
        }

        .tag-wrap {
            background: #ccc;
            padding: 1px 5px;
            font-size: 12px;
            border-radius: 3px;
            margin-right: 8px;
        }

        .close {
            color: blue;
            cursor: pointer;
            padding: 1px 2px 4px 5px;
        }

        .add {
            color: blue;
            cursor: pointer;
            padding: 2px;
        }

        .content {
            cursor: pointer;
        }

        .ubt {
            margin: 15px 0;
        }

        .mtb15 {
            margin: 15px 0;
        }

        .ml10 {
            margin-left: 10px;
        }

        .inline-block {
            display: inline-block;
        }

        .text {
            color: #aaa;
            font-size: 12px
        }

        .label-name {
            display: inline-block;
            width: 100px;
            text-align: right;
            margin-right: 10px;
            margin-bottom: 6px;
            font-size: 13px;
        }

        .tips {
            color: #f00000;
        }
    </style>
</head>

<body>
    <div id="app">
        <div>
            <div class="label-name">CRN/QRN:</div>
            <label><input v-model="qc" type="radio" value="c" />CRN</label>
            <label class="ml10"><input v-model="qc" type="radio" value="q" />QRN</label>
        </div>
        <div>
            <div class="label-name">IP:</div>
            <input v-model="ip" />
        </div>
        <div>
            <div class="label-name">Port:</div>
            <input v-model="port" />
        </div>
        <div>
            <div class="label-name">IOS/Android:</div>
            <label><input v-model="sys" type="radio" value="ios" />IOS</label>
            <label class="ml10"><input v-model="sys" type="radio" value="android" />Android</label>
        </div>
        <div>
            <div class="label-name">ModuleName:</div>
            <input v-model="name" value="rn_car_zt" />
            <tag-t type="tags-name" name="name" :update-v="setV" :get-v="getV" ref="tagsName" :auto-save="autoSave"
                :input-value="name"></tag-t>
        </div>
        <div>
            <div class="label-name">initialPage:</div>
            <input v-model="initial" value="Home" />
            <tag-t type="tags-initial" name="initial" :update-v="setV" :get-v="getV" ref="tagsInitial"
                :auto-save="autoSave" :input-value="initial"></tag-t>
        </div>
        <div class="text mtb15">
            <div>{{text}}</div>
        </div>

        <div class="ubt"><button id="create" @click="createQrcode">生成二维码</button>
            <div class="text ml10 inline-block">
                <label><input type="checkbox" v-model="isRecord" />记住现在的值</label>
            </div>
            <div class="text ml10 inline-block">
                <label><input type="checkbox" v-model="autoSave" />将输入值存入对应tag中</label>
            </div>
        </div>
        <div id="qrcode" class="qrcode"></div>
    </div>

    <!-- <script src="./jquery.min.js"></script> -->
    <script src="./vue.min.js"></script>
    <script src="./qrcode.min.js"></script>
    <script>
        Vue.component('tag-t', {
            props: ['type', 'update-v', 'name', 'get-v', 'auto-save', 'input-value'],
            data: function () {
                return {
                    list: [],
                    count: 0,
                    isAdding: false,
                    showAlert: false,
                    content: ''
                }
            },
            mounted() {
                this.list = this.getList();
                var _this = this;
                setTimeout(function () {
                    _this.initStorage();
                }, 0);
            },
            methods: {
                initStorage: function () {

                    var list = this.getList();
                    this.list = list;
                },
                getList: function () {
                    var list = (localStorage.getItem(this.type) || '').split(',');
                    return list;
                },
                remove: function (item) {
                    var list = this.getList();
                    if (list.length) {
                        if (item === localStorage.getItem(this.name) && this.autoSave) {
                            this.showAlert = true;
                            setTimeout(() => {
                                this.showAlert = false;
                            }, 5000)
                        }
                        list.splice(list.indexOf(item), 1);
                        localStorage.setItem(this.type, list);
                        this.list = list;
                    }
                },
                preAdd: function () {
                    this.isAdding = true;
                },
                add: function (v) {
                    var list = this.getList();
                    const vv = typeof v === 'string' ? v : this.content;

                    if (!list.includes(vv)) {
                        list.push(vv);
                        localStorage.setItem(this.type, list);
                        this.list = list;
                        this.isAdding = false;
                        this.content = '';
                    }

                },
                setV: function (v) {
                    var list = this.getList();
                    var originV = this.getV(this.name);
                    if (list.includes(originV)) {
                        this.updateV(this.name, v);
                    } else {
                        list.push(originV);
                        localStorage.setItem(this.type, list);
                        this.updateV(this.name, v);
                        this.list = list;
                    }
                }
            },
            template: `<span>
                <span v-for="item in list">
                    <span v-if="item !== ''" class="tag-wrap">
                        <span class="content" @click="setV(item)">{{item}}</span> <span class="close" @click="remove(item)">x</span>
                    </span>
                </span>
                <span v-if="isAdding === false" class="add" @click="preAdd">+</span>
                <span v-if="isAdding === true" class="preAdd" >
                    <input v-model="content" /> <button @click="add">&radic;</button>
                </span>
                <span class="text tips" v-if="showAlert">由于选中了"将输入的值存入对应tag中",而且本地记住的值和tag名相同,所以刷新页面将会再次将删除的值存入tag中</span>
            </span>`
        });
        var config = {
            c: {
                moduleName: 'CRNModuleName',
                type: 'CRNType',
                initialPage: 'initialPage'
            },
            q: {
                initialPage: 'initialPage',
                moduleName: 'QRNModuleName',
                type: 'QRNType',
            }
        }
        var app = new Vue({
            el: '#app',
            data: {
                ip: '192.168.2.24',
                port: '5389',
                name: 'rn_car_zt',
                initial: 'Home',
                isRecord: true,
                sys: 'android',
                qc: 'c',
                autoSave: true
            },
            computed: {
                text: function () {
                    return 'http://' + this.ip + ':' + this.port + '/index.' + this.sys + '.bundle?'
                        + config[this.qc].moduleName + '=' + this.name + '&'
                        + config[this.qc].type + '=1&'
                        + config[this.qc].initialPage + '=' + this.initial;
                }
            },
            mounted() {
                this.storeTags();
                this.fillWithRecord();
            },
            methods: {
                storeTags: function () {
                    this.$refs.tagsName.add(this.name);
                    this.$refs.tagsInitial.add(this.initial);
                },
                getV: function (name) {
                    return this[name];
                },
                createQrcode: function (e) {
                    document.getElementById('qrcode').innerHTML = '';
                    qrcode = new QRCode(document.getElementById('qrcode'), this.text);
                    if (this.isRecord) {
                        this.record();
                    }
                    if (this.autoSave) {
                        this.$refs.tagsName.add(this.name);
                        this.$refs.tagsInitial.add(this.initial);
                    }
                },
                setV: function (name, v) {
                    this[name] = v;
                },
                fillWithRecord: function () {
                    var qc = localStorage.getItem('qc');
                    if (qc) {
                        this.qc = qc;
                    }
                    var ip = localStorage.getItem('ip');
                    if (ip) {
                        this.ip = ip;
                    }
                    var port = localStorage.getItem('port');
                    if (port) {
                        this.port = port;
                    }
                    var sys = localStorage.getItem('sys');
                    if (sys) {
                        this.sys = sys;
                    }
                    var name = localStorage.getItem('name');
                    if (name) {
                        this.name = name;
                    }
                    var initial = localStorage.getItem('initial');
                    if (initial) {
                        this.initial = initial;
                    }


                },
                record: function () {
                    localStorage.setItem('qc', this.qc);
                    localStorage.setItem('ip', this.ip);
                    localStorage.setItem('port', this.port);
                    localStorage.setItem('sys', this.sys);
                    localStorage.setItem('name', this.name);
                    localStorage.setItem('initial', this.initial);
                }
            }
        });
        app.createQrcode();
    </script>
</body>

</html>